@CHARSET "ISO-8859-1";

body {
    padding-top: 60px !important;
}

.popup {
    width: 500px;
    max-height: 570px;
}

.content-tab-sfs {
    padding-top: 10px;
}

.tab-sfs {
    width: 144.6px;
}

.navbar-title {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

.nav-pills a {
    padding: 5px 5px !important;
    height: 30px;
    text-align: center;
}