@CHARSET "ISO-8859-1";

body {
    padding-top: 60px !important;
}

table {
    width: 100% !important;
}

td {
    vertical-align: middle !important;
}

.popup {
    width: 500px;
    max-height: 570px;
}

.content-tab-sfs {
    padding-top: 10px;
}

.tab-sfs {
    width: 108px;
}

.navbar-title {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.nav-pills a {
    padding: 5px 5px !important;
    height: 30px;
    text-align: center;
}

.fork-github {
    position: absolute;
    top: 2px;
    right: 16px;
    border: 0;
}

.logo-header {
    position: absolute;
    top: 2px;
    left: 16px;
    border: 0;
}