@CHARSET "ISO-8859-1";

.popup {
    width: 500px;
    max-height: 570px;
}

.content-tab-sfs {
    padding-top: 10px;
}

.tab-sfs {
    width: 108px;
}

.nav-pills a {
    text-align: center;
}

.fork-github {
    position: absolute;
    top: 2px;
    right: 16px;
    border: 0;
}

.logo-header {
    position: absolute;
    top: 2px;
    left: 16px;
    border: 0;
}

.name-project {
    margin-bottom: 15px;
}

.details {
    margin-top: 15px;
}