<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1"/>
    <title>SourceForge Stats</title>
    <script type="text/javascript" src="../js/angular.js"></script>
    <script type="text/javascript" src="../js/jquery.js"></script>
    <script type="text/javascript" src="../js/bootstrap.js"></script>
    <script type="text/javascript" src="../js/statscontroller.js"></script>
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../css/sfstats.css">
</head>
<body class="popup">
<div class="container" ng-app="SFStatsApp" ng-controller="StatsController">
    <div class="panel panel-primary">
        <div class="panel-heading text-center">
            <h4>SourceForge Stats by Laisson</h4>
        </div>
        <div class="panel-body">
            <div id="filter" class="collapse in">
                <div class="form-group">
                    <label>Project</label>
                    <input type="text" class="form-control" ng-model="filter.name_project"
                           placeholder="Ex: passbrow-recover" required>
                </div>
                <div class="form-group">
                    <label>Start Date</label>
                    <input type="date" class="form-control" ng-model="filter.start_date" required>
                    <!--<datalist id="dates">-->
                    <!--<option label="Groundhog Day">2014-02-02</option>-->
                    <!--<option label="Valentine's Day">2014-02-14</option>-->
                    <!--<option label="Flag Day">2014-06-14</option>-->
                    <!--</datalist>-->
                </div>
                <div class="form-group">
                    <label>End Date</label>
                    <input type="date" class="form-control" ng-model="filter.end_date" required>
                </div>
                <button class="btn btn-primary btn-sm" ng-click="findStats(filter)">Find Stats</button>
                <hr>
            </div>
            <div ng-show="stats.error" class="text-center">
                <h5>{{stats.error}}</h5>
            </div>
            <div ng-hide="stats.error">
                <h3>Downloads: {{stats.total}}
                    <button class="btn btn-info btn-sm pull-right" ng-click="showDetails=true" ng-show="!showDetails"
                            ng-disabled="!containsInfo" data-toggle="collapse" data-target="#filter">Details
                    </button>
                    <button class="btn btn-success btn-sm pull-right" ng-click="showDetails=false" ng-show="showDetails"
                            data-toggle="collapse" data-target="#filter">New Filter
                    </button>
                </h3>
                <div ng-show="showDetails">
                    <ul class="nav nav-pills">
                        <li class="active"><a data-toggle="tab" href="#tab1">OS</a></li>
                        <li><a data-toggle="tab" href="#tab2">Country</a></li>
                        <li><a data-toggle="tab" href="#tab3">Top</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab1">
                        </div>
                        <div class="tab-pane" id="tab2">
                        </div>
                        <div class="tab-pane" id="tab3">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>