<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1"/>
    <title>SourceForge Stats</title>
    <script type="text/javascript" src="../js/angular.js"></script>
    <script type="text/javascript" src="../js/jquery.js"></script>
    <script type="text/javascript" src="../js/bootstrap.js"></script>
    <script type="text/javascript" src="../js/spin.js"></script>
    <script type="text/javascript" src="../js/c3.js"></script>
    <script type="text/javascript" src="../js/d3.js"></script>
    <script type="text/javascript" src="../js/statscontroller.js"></script>
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../css/sfstats.css">
    <link rel="stylesheet" type="text/css" href="../css/c3.css">
</head>
<body class="popup">
<nav class="navbar navbar-default text-center navbar-fixed-top label-primary">
    <a href="http://www.technova.com.br" target="_blank">
        <img class="logo-header" src="../images/sfs_logo.png" alt="Source Forge Stats">
    </a>
    <a href="https://github.com/laissonsilveira/SourceForgeStats" target="_blank">
        <img class="fork-github" src="../images/github.png" alt="Fork me on GitHub">
    </a>
    <div class="container">
        <div class="navbar-header">
            <h3>
                <span class="label">SourceForge Stats
                <span class="label" id="version"></span>
                </span>
            </h3>
            <h5><span class="label">Technova.com.br - ©2015-2016 - Laisson R. Silveira</span></h5>
        </div>
    </div>
</nav>
<div class="container" ng-app="SFStatsApp" ng-controller="StatsController">
    <div class="panel panel-primary">
        <div class="panel-body">
            <div ng-show="showForm">
                <div class="name-project">
                    <label></label>
                    <div class="input-group">
                        <input type="text" class="form-control" ng-model="filter.nameProject" list="projects" ng-change="onChangeNameProject()">
                        <datalist id="projects">
                            <option class="optionsProjects" ng-repeat="project in projects" value="{{project}}"></option>
                        </datalist>
                        <span class="input-group-btn">
                             <button class="btn btn-default" type="button" ng-disabled="isProjectValid" ng-click="removeProject()">
                                 <img src="../images/remove.png"/>
                             </button>
                        </span>
                    </div>
                </div>
                <div class="form-group start-date">
                    <label></label>
                    <input type="date" class="form-control" ng-model="filter.startDate" list="dates">
                    <datalist id="dates">
                        <option id="today"></option>
                        <option id="seven_days"></option>
                        <option id="previous_month"></option>
                        <option id="month"></option>
                        <option id="year"></option>
                    </datalist>
                </div>
                <div class="form-group end-date">
                    <label></label>
                    <input type="date" class="form-control" ng-model="filter.endDate">
                </div>
                <button id="btn_find" class="btn btn-primary btn-sm btn-block" ng-click="validateForm()"></button>
                <hr>
            </div>
            <div ng-show="error" class="text-center">
                <label class="text-danger">{{error.msg}}</label>
            </div>
            <div ng-hide="error">
                <h3><span class="downloads"></span> : {{stats.total}}<span id="spinner" ng-show="showSpinner"></span>
                    <div class="pull-right">
                        <button id="btn_details" class="btn btn-info btn-sm"
                                ng-click="showDetails=true;showChartDownloads=false" ng-hide="showDetails"
                                ng-disabled="!containsInfo || stats.total == 0">
                        </button>
                        <button id="btn_new_filter" class="btn btn-success btn-sm"
                                ng-click="showDetails=false;showChartDownloads=false;containsInfo=false;showForm=true;"
                                ng-show="showDetails || showChartDownloads">
                        </button>
                    </div>
                </h3>
                <div ng-show="showChartDownloads" id="chartDownloads"></div>
                <div class="details" ng-show="showDetails">
                    <ul class="nav nav-pills">
                        <li class="active tab-sfs"><a data-toggle="tab" href="#tab1" id="btn_tab1"></a></li>
                        <li class="tab-sfs"><a data-toggle="tab" href="#tab2" id="btn_tab2"></a></li>
                        <li class="tab-sfs"><a data-toggle="tab" href="#tab3" id="btn_tab3"></a></li>
                        <li class="tab-sfs"><a data-toggle="tab" href="#tab4" id="btn_tab4"></a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab1">
                            <div class="content-tab-sfs">
                                <div class="panel panel-default pull-left">
                                    <div class="panel-heading">
                                        <label id="top_os"></label>
                                    </div>
                                    <div class="panel-body">
                                        <h3>{{stats.summaries.os.top}}</h3>
                                        <h6>{{stats.summaries.os.percent}}<span class="percent"></span></h6>
                                        <div id="chartTopOS"></div>
                                    </div>
                                </div>
                                <div class="panel panel-default pull-right">
                                    <div class="panel-heading">
                                        <label id="top_country"></label>
                                    </div>
                                    <div class="panel-body">
                                        <h3>{{stats.summaries.geo.top}}</h3>
                                        <h6>{{stats.summaries.geo.percent}}<span class="percent"></span></h6>
                                        <div id="chartTopCountry"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="tab2">
                            <div class="content-tab-sfs">
                                <table class="table table-hover">
                                    <thead>
                                    <tr>
                                        <td>
                                            <label class="operational_system"></label>
                                        </td>
                                        <td align="center">
                                            <label class="downloads"></label>
                                        </td>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="os in stats.oses">
                                        <td>
                                            {{os[0]}}
                                        </td>
                                        <td align="center">
                                            {{os[1]}}
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="tab-pane" id="tab3">
                            <div class="content-tab-sfs">
                                <table class="table table-hover">
                                    <thead>
                                    <tr>
                                        <td>
                                            <label class="countries"></label>
                                        </td>
                                        <td align="center">
                                            <label class="downloads"></label>
                                        </td>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="country in stats.countries">
                                        <td>
                                            {{country[0]}}
                                        </td>
                                        <td align="center">
                                            {{country[1]}}
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="tab-pane" id="tab4">
                            <div class="content-tab-sfs">
                                <table class="table table-hover">
                                    <thead>
                                    <tr>
                                        <td>
                                            <label class="countries"></label>
                                        </td>
                                        <td align="left">
                                            <label class="operational_system"></label>
                                        </td>
                                        <td align="right">
                                            <label class="downloads"></label>
                                        </td>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="(key01, val01) in stats.oses_by_country">
                                        <td>
                                            {{key01}}
                                        </td>
                                        <td colspan="2">
                                            <table ng-init="oses = val01">
                                                <tr ng-repeat="(key02, val02) in oses">
                                                    <td align="left">
                                                        {{key02}}
                                                    </td>
                                                    <td align="right">
                                                        {{val02}}
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>